# Dependencies libraries
*/node_modules

# Environment variables with sensitive data
**/.env

# Build outputs
server/dist
server/tmp
client/dist

# SSL Certificate files
*.key
*.pem
*.pfx
*.crt
*.csr
*.cnf
*.srl

# Testing scripts
scripts/test.sh
k8s/scripts/test.sh

# Vagrant specific VM files
vagrant/.vagrant
vagrant/ubuntu*

# Go compiled code
consumer/consumer
consumer/tmp

# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfstate.backup

# Client public files mounted as bind volume
client/public/config.json
