# Dependencies libraries
*/node_modules

# Environment variables with sensitive data
**/.env

# Build outputs
server/dist
client/dist

# SSL Certificate files
*.key
*.pem
*.pfx
*.crt
*.csr
*.cnf

# EC2 instance data
/ec2

# Testing scripts
scripts/test.sh

# Vagrant specific VM files
vagrant/.vagrant
vagrant/ubuntu*

# Go compiled code
consumer/consumer
