#auth-section {
  width: 350px;
  background: #ffa500;
  margin: auto;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  padding-bottom: 10px;
}

h2 {
  text-decoration: underline;
  font-weight: bold;
  font-size: 33px;
  width: 150px;
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
}

.auth-label {
  font-size: 22px;
  width: 110px;
  display: inline-block;
  margin: 5px 0;
}

.auth-input {
  background: #d9d9d9;
  height: 100%;
  width: 160px;
  border-radius: 15px;
  font-family: "Bellota Text";
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #161f3c;
  padding: 0 20px;
}

input:focus-within {
  border-radius: 15px;
  outline: 3px solid #bdbdbd;
}

#submit-btn {
  width: 90px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: bold;
  font-size: 22px;
  background: #161f3c;
  color: #d9d9d9;
  border-radius: 15px;
  border: 0;
  margin-left: 210px;
  margin-top: 10px;
  padding: 20px;
}

#submit-btn:hover {
  cursor: pointer;
  background: rgb(39, 57, 117);
}


@media (max-width: 500px) {
  #auth-section {
    width: 100%;
    padding: 10px;
  }
}
