#confirm-delete-text {
  font-size: 25px;
}

#yes-no-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-btn {
  width: 70px;
  height: 40px;
  font-family: inherit;
  font-weight: bold;
  background: #161f3c;
  color: #d9d9d9;
  border-radius: 15px;
  border: 0;
  margin: 0 20px;
  font-size: 25px;
}

.modal-btn:hover {
  cursor: pointer;
  background: rgb(39, 57, 117);
}
