#header {
  background: #ffa500;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 100%;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Bellota Text";
  font-weight: bold;
  color: #161f3c;
  font-size: 20px;
}

#note-icon {
  fill: #161f3c;
}

#user-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logout-btn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #161f3c;
  margin-right: 15px;
  background: #161f3c;
  color: #d9d9d9;
  font-size: 20px;
  border-radius: 15px;
}

#logout-btn:hover {
  cursor: pointer;
  background: rgb(39, 57, 117);
}

#user-salutation {
  margin-right: 80px;
  font-size: 25px;
  color: #161f3c;
}

#username-text {
  font-weight: bold;
  font-size: 27px;
}

@media (max-width: 600px) {
  #logo-text {
    display: none;
  }
}
