#header {
  background: #ffa500;
  width: 100%;
  height: 80px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  align-items: center;
}

#title {
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  font-family: "Bellota Text";
  color: #161f3c;
  font-size: 25px;
}

#note-icon {
  width: 50px;
  fill: #161f3c;
}
