.note-btns {
  width: 100%;
  display: flex;
  align-items: end;
}

.note-btn {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #161f3c;
  margin: 2.5px;
}

#del-status-btns {
  display: flex;
  width: 20%;
}

.del-status-btn {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.del-status-btn:hover {
  cursor: pointer;
}

#delete-btn {
  background: red;
}

#status-btn {
  background: #b2b2b2;
}
