.note-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
}

.note-btn {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #161F3C;
}

.tag-btn {
    width: 70px;
    border-radius: 25px;
    background: #FFA500;
    font-family: "Bellota Text";
    font-weight: bold;
}

.tag-btn .btn-icon {
    background: red;
    border-radius: 50%;
}

.del-arch-btn {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.note-btn:hover {
    cursor: pointer;
}

#archive-btn {
    background: #b2b2b2;
}

#delete-btn {
    background: red;
}