.note-btns {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-btn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #161f3c;
  margin: 2.5px;
}

#del-status-btns {
  display: flex;
  width: 20%;
}

.del-status-btn {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.del-status-btn:hover {
  cursor: pointer;
}

#delete-btn {
  background: red;
}

#status-btn {
  background: #b2b2b2;
}

#add-tag-btn {
  border: 0;
  background: transparent;
  padding: 0;
}

#add-tag-btn .btn-icon:hover {
  cursor: pointer;
}
