#not-found-container {
    background: #ffa500;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-size: 22px;
}