#tags {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  min-width: 60px;
  border-radius: 25px;
  background: #ffa500;
  font-family: "Bellota Text";
  font-weight: bold;
  height: 20px;
}

.tag-text {
  background: transparent;
  border: 0;
  margin-left: 10px;
  text-align: center;
}

.tag-text:focus {
  outline: none;
}

.tag .btn-icon {
  background: red;
  border-radius: 50%;
}

.tag .btn-icon:hover {
  cursor: pointer;
}

.tag .delete-tag-icon {
  background: transparent;
  border: 0;
}

#add-tag-btn {
  border: 0;
  background: transparent;
  padding: 0;
}

#add-tag-btn .btn-icon:hover {
  cursor: pointer;
}
